<header>
    <h1 class="t-h1">Wesh</h1>
    <p>I’m a <span>product designer</span>. A multi-skilled <span>Front-end dev</span>, I see no boundary between form and function. My work combines an understanding across visual design, user experience, branding and even prototyping & motion. I have collaborated with agencies around the world. Originally from Paris, I studied at Hetic and made my first experiential website at Werkstatt Studio. Next, I joined Mediamonks in Amsterdam as a visual designer. And lately, I created digital products at Work&Co based in NY.</p>
</header>

<style>
    .t-h1 {
        font-size: 22.92vw;
        text-align: center;
    }
</style>
